<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bristlecone Chatbot Console
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<!-- <iframe src ="https://bcone.us1.sapbusinessobjects.cloud/sap/fpa/ui/tenants/003"></iframe> -->
<mat-tab-group>
  <mat-tab label="Bots">
    <button type="button" class="btn btn-primary">
      List
    </button>
    <button type="button" class="btn btn-primary">
      +
    </button>
    <br>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>

  <mat-tab label="Create (IDE)">
    <div class="divHolder">
      <!-- <a target="_self" href="runbatch.hta" download="deploy.hta">qwdqwd</a> -->
      <button type="button" class="btn btn-primary rightSide" (click)='deploy()'>
        Deploy
      </button>
      <button type="button" class="btn btn-primary rightSide">
        Extract
      </button>
      <br>
      <div class="editorsHolder">
        <div class="firstEditorBlock">
          Chatbot Business Logic(JS):
          <div class="editor1" ace-editor [(text)]="textLogic" [mode]="'javascript'" [theme]="'terminal'" [options]="options" [readOnly]="false"
            [autoUpdateContent]="true" [durationBeforeCallback]="1000" (textChanged)="onChange($event)" style="min-height: 600px; width:400px; overflow: auto;"></div>

        </div>
        <div class="secondEditorBlock">Chatbot Connection:
          <div class="editor2" ace-editor [(text)]="textConnection" [mode]="'javascript'" [theme]="'terminal'" [options]="options"
            [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000" (textChanged)="onChange($event)"
            style="min-height: 600px; width:400px; overflow: auto;"></div>
        </div>
        <div class="secondEditorBlock">Local specific deployment script:
          <div class="editor2" ace-editor [(text)]="textBatch" [mode]="'javascript'" [theme]="'terminal'" [options]="options" [readOnly]="false"
            [autoUpdateContent]="true" [durationBeforeCallback]="1000" (textChanged)="onChange($event)" style="min-height: 600px; width:400px; overflow: auto;"></div>
        </div>
      </div>



      <!-- <iframe src="https://jsfiddle.net/" width="800px" height="600px"></iframe> -->
    </div>
  </mat-tab>
  <mat-tab label="Object Gallery">
    <button mat-button [matMenuTriggerFor]="menu" class="btn btn-primary">Data Sources</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Excel</button>
      <button mat-menu-item>Tablo</button>
      <button mat-menu-item>SAP</button>
      <button mat-menu-item>QlikSense</button>
    </mat-menu>
    <div class="gridContainer">
      <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile>

          <img src="https://s3.amazonaws.com/neo-bot-developer/Project-Bot-Development/Objects_Rohit.Aneja_B0026/Objects/procurement.png"
            width='350px'>
          <br>
          <mat-checkbox>Select</mat-checkbox>
        </mat-grid-tile>


        <mat-grid-tile>
          <img src="https://s3.amazonaws.com/neo-bot-developer/Project-Bot-Development/Objects_Rohit.Aneja_B0026/Objects/electricity.png"
            width='350px'>
          <br>
          <mat-checkbox>Select</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="https://s3.amazonaws.com/neo-bot-developer/Project-Bot-Development/Objects_Rohit.Aneja_B0026/Objects/Business_graph.gif"
            width='350px'>
          <br>
          <mat-checkbox>Select</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- <img src="https://s3.amazonaws.com/neo-bot-developer/Project-Bot-Development/Objects_Rohit.Aneja_B0026/Objects/procurement.png" -->
          <!-- width='350px'> -->
          <!-- <mat-checkbox>Check me!</mat-checkbox> -->
        </mat-grid-tile>
      </mat-grid-list>
      <button type="button" class="btn btn-primary inlineBtn">
        Upload selected
      </button>
    </div>

  </mat-tab>

  <mat-tab label="Configure Webhook">
    Enter read hook :
    <mat-form-field>
      <input matInput placeholder="URL">
    </mat-form-field>
    <br> Enter filter path :
    <mat-form-field>
      <input matInput placeholder="/Path">
    </mat-form-field>
    <br> Enter integration object :
    <mat-form-field>
      <input matInput placeholder="Object Name">
    </mat-form-field>
    <br>
    <button class="btn btn-primary">Submit</button>
  </mat-tab><br>
 
  <mat-tab label="Consume(BOC)">

    <!-- 1.Sign in to your bot frameowork account.<br>
    2.Click create a bot, then create on next page<br>
    3.In opened window, create a chatbot and extract its APP ID and Secret<br> -->
    (Prior SSO Login needed)<br>
    <button type="button" class="btn btn-primary" (click)="alterFilter()">Apply Filter</button>
    <br>
    <iframe [hidden]="isDSO2" [src]="urlBOC | safe" width="100%" height="800px"></iframe>
    <!-- <iframe [hidden]="isDSO2" src = "https://bcone.us1.sapbusinessobjects.cloud/sap/fpa/ui/tenants/003/app.html#;view_id=story;mode=embed;storyId=A4A8B35AD260C70FE10000000A6C9B30;f01Model=t.5.CFO_DASHBOARD_1:CFO_DASHBOARD_1;f01Dim=DSO;f01Val=2" width="900px" height = "800px"></iframe> -->
  </mat-tab>
  <mat-tab label="Consume(Tableau)">

    <!-- 1.Sign in to your bot frameowork account.<br>
    2.Click create a bot, then create on next page<br>
    3.In opened window, create a chatbot and extract its APP ID and Secret<br> -->
    <button type="button" (click)="showDash()">Refresh </button>
    <br>

    <iframe [hidden]="isDSO2" [src]="urlTableau | safe" width="100%" height="800px"></iframe>
    <!-- <iframe [hidden]="isDSO2" src = "https://bcone.us1.sapbusinessobjects.cloud/sap/fpa/ui/tenants/003/app.html#;view_id=story;mode=embed;storyId=A4A8B35AD260C70FE10000000A6C9B30;f01Model=t.5.CFO_DASHBOARD_1:CFO_DASHBOARD_1;f01Dim=DSO;f01Val=2" width="900px" height = "800px"></iframe> -->
  </mat-tab>
</mat-tab-group>